@keyframes menuAnimation {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.menu {
  transition: all 0.5s ease-in-out;
  transform: translateY(-101%);
  position: fixed;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  @media (min-width: 60rem) {
    flex-direction: row;
  }
  body.open & {
    transform: translateY(0%);
  }
  .col {
    width: 100%;
    height: 100%;
    transition: all 0.25s ease-in-out;
    background: #fff;
    @media (min-width: 60rem) {
      transform: translateY(-100%);
      flex: 0 0 calc(100% / 3);
    }
    &:nth-child(1) {
      background-image: url(https://images.unsplash.com/photo-1499951360447-b19be8fe80f5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
      background-size: cover;
      background-position: center;
      order: 3;
      body.open & {
        @media (min-width: 60rem) {
          order: 1;
          animation: menuAnimation 0.5s ease-in-out 0.25s 1 forwards;
        }
      }
    }
    &:nth-child(2) {
      background-image: url(https://images.unsplash.com/photo-1512295767273-ac109ac3acfa?ixlib=rb-1.2.1&auto=format&fit=crop&w=675&q=80);
      background-size: cover;
      background-position: center;
      order: 3;
      display: none;
      body.open & {
        @media (min-width: 60rem) {
          display: block;
          order: 2;
          animation: menuAnimation 0.5s ease-in-out 0.5s 1 forwards;
        }
      }
    }
    &:nth-child(3) {
      order: 2;
      body.open & {
        @media (min-width: 60rem) {
          order: 3;
          animation: menuAnimation 0.5s ease-in-out 0.75s 1 forwards;
        }
      }
    }
  }
  nav.main {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media (min-width: 60rem) {
      height: 100%;
    }
    a {
      display: block;
      color: #000;
      text-decoration: none;
      font-size: 2rem;
      padding: 2rem;
    }
  }
}
