@import "../../assets/styles/vars.scss";

@keyframes headerSubTextAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menuLinkAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

header.main {
  height: 6.25rem;
  padding: 2rem 0;
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .top {
    z-index: 100;
    top: 0;
    width: 100%;
    transition: all 0.25s ease-in-out;
    body.open & {
      background: none;
    }
    .container {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 1.25rem;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      transition: color 0.25s ease-in-out;
      body.home & {
        opacity: 0;
        animation: topAnimation 1s ease-in-out 0s 1 forwards;
      }
      body.open & {
        color: #fff;
      }
    }
    .right {
      display: flex;
      .lang {
        margin-right: 2rem;
        font-size: 1rem;
        body.home & {
          opacity: 0;
          animation: topAnimation 1s ease-in-out 0s 1 forwards;
        }
        a {
          text-decoration: none;
          color: #000;
          opacity: 0.5;
        }
      }
    }
    .nav-icon {
      width: 30px;
      height: 25px;
      position: relative;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      body.home & {
        opacity: 0;
        animation: topAnimation 1s ease-in-out 0s 1 forwards;
      }
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        border-radius: 1px;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        body.open & {
          background: #fff;
        }
        &:nth-child(1) {
          top: 0px;
          body.open & {
            top: 10px;
            transform: rotate(135deg);
          }
        }
        &:nth-child(2) {
          top: 10px;
          body.open & {
            opacity: 0;
            left: -60px;
          }
        }
        &:nth-child(3) {
          top: 20px;
          body.open & {
            top: 10px;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  .menu {
    position: fixed;
    visibility: hidden;
    z-index: 99;
    background: $menu-bg;
    color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    background-size: cover;
    background-position: center;
    .bg-image {
      opacity: 0.35;
      position: absolute;
      transition: all 0.25s ease-in-out;
      width: 50%;
      height: 100%;
      top: 0;
      right: 0;
      background-image: url(https://images.unsplash.com/photo-1588076529545-979456f7c146?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&h=800&q=80);
      background-size: cover;
      background-position: center;
      body.menu-bg-01 & {
        background-image: url(https://images.unsplash.com/photo-1531934788018-04c3cd417b80?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&h=800&q=80);
      }
      body.menu-bg-02 & {
        background-image: url(https://images.unsplash.com/photo-1556559322-b5071efadc88?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&h=800&q=80);
      }
      body.menu-bg-03 & {
        background-image: url(https://images.unsplash.com/photo-1509719782173-841a7542cb4d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&h=800&q=80);
      }
      body.menu-bg-04 & {
        background-image: url(https://images.unsplash.com/photo-1561407623-3be80ba2443f?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&h=800&q=80);
      }
    }
    body.open & {
      opacity: 1;
      visibility: visible;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      &:hover {
        //color: $color-primary;
      }
    }
    .container {
      height: 100vh;
      max-width: 45rem;
      display: flex;
      flex-direction: column;
      @media (min-width: 35rem) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      @media (min-width: 75rem) {
        max-width: 55rem;
      }
      .col {
        .info {
          font-size: 1.2rem;
          opacity: 0;
          margin-top: 4rem;
          @media (min-width: 35rem) {
            margin-top: 0;
          }
          body.open & {
            animation: menuLinkAnimation 1.5s $ease-01 0.75s 1 forwards;
          }
          h4 {
            font-size: 1.25rem;
            margin: 0 0 1rem;
          }
          p {
            margin: 0 0 0.5rem;
          }
          .contact-links {
            a {
              border-bottom: 1px solid $color-primary;
              &:hover {
                color: $color-primary;
              }
            }
          }
          .address {
            margin: 1.5rem 0;
            display: block;
          }
          .sm-links {
            display: flex;
            padding-left: 0;
            li {
              list-style: none;
              &:first-child {
                margin-left: -0.75rem;
              }
              a {
                padding: 0.75rem;
                opacity: 0.5;
                transition: all 0.15s ease-in-out;
                &:hover {
                  opacity: 1;
                }
                svg {
                  fill: #fff;
                }
              }
            }
          }
        }
        nav.main {
          display: flex;
          flex-direction: column;
          margin-top: 8rem;
          @media (min-width: 60rem) {
            margin-top: 0rem;
            margin-bottom: 2rem;
          }
          a {
            font-size: 2rem;
            line-height: 1em;
            font-weight: bold;
            padding: 1rem 0;
            transition: all 0.15s ease-in-out;
            @media (min-width: 60rem) {
              font-size: 3rem;
            }
            @media (min-width: 85rem) {
              font-size: 4rem;
            }
            &:nth-child(1) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.15s 1 forwards;
              }
            }
            &:nth-child(2) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.3s 1 forwards;
              }
            }
            &:nth-child(3) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.45s 1 forwards;
              }
            }
            &:nth-child(4) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.6s 1 forwards;
              }
            }
            span {
              display: block;
              transition: all 0.2s ease-in-out;
            }
            &:hover {
              span {
                transform: translateX(0.75rem);
              }
            }
          }
        }
      }
    }
  }
}
