@keyframes headerAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes menuAnimation {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menuLinkAnimation {
  0% {
    transform: translateY(10px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

header.main {
  background: #fff;
  padding: 2rem 0;
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media (min-width: 60rem) {
    height: 50vh;
    min-height: 25rem;
  }
  .top {
    //background: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    transition: all 0.25s ease-in-out;
    body.open & {
      background: none;
    }
    .container {
      height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 1.25rem;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      transition: color 0.25s ease-in-out;
      body.open & {
        color: #fff;
      }
    }
    .nav-icon {
      width: 30px;
      height: 25px;
      position: relative;
      transform: rotate(0deg);
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        border-radius: 1px;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        body.open & {
          background: #fff;
        }
        &:nth-child(1) {
          top: 0px;
          body.open & {
            top: 10px;
            transform: rotate(135deg);
          }
        }
        &:nth-child(2) {
          top: 10px;
          body.open & {
            opacity: 0;
            left: -60px;
          }
        }
        &:nth-child(3) {
          top: 20px;
          body.open & {
            top: 10px;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  .menu {
    position: fixed;
    visibility: hidden;
    z-index: 1;
    background: #000;
    color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    body.open & {
      opacity: 1;
      visibility: visible;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: #aaa;
      }
    }
    .container {
      height: 100vh;
      max-width: 60rem;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      flex-direction: column;
      @media (min-width: 35rem) {
        flex-direction: row;
        align-items: center;
      }
      .col {
        body.open & {
          animation: menuAnimation 0.25s ease-in-out 0s 1 forwards;
        }
        .info {
          font-size: 1.2rem;
          opacity: 0;
          body.open & {
            animation: menuLinkAnimation 1s ease-in-out 1s 1 forwards;
          }
          h4 {
            font-size: 1.25rem;
            margin: 0 0 1rem;
          }
          p {
            margin: 0 0 0.5rem;
          }
          a {
            color: #aaa;
            &:hover {
              text-decoration: underline;
            }
          }
        }
        nav.main {
          display: flex;
          flex-direction: column;
          margin-top: 8rem;
          @media (min-width: 60rem) {
            margin-top: 0rem;
            margin-bottom: 2rem;
          }
          a {
            font-size: 2rem;
            padding: 1.5rem 0;
            transition: all 0.15s ease-in-out;
            @media (min-width: 60rem) {
              font-size: 3rem;
              padding: 2rem 0;
            }
            &:nth-child(1) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1s ease-in-out 0s 1 forwards;
              }
            }
            &:nth-child(2) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1s ease-in-out 0.2s 1 forwards;
              }
            }
            &:nth-child(3) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1s ease-in-out 0.4s 1 forwards;
              }
            }
            &:nth-child(4) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1s ease-in-out 0.6s 1 forwards;
              }
            }
          }
        }
      }
    }
  }
  main {
    flex: 0 0 100%;
    .container {
      display: flex;
    }
    h2 {
      font-size: 2rem;
      line-height: 1.2em;
      max-width: 50rem;
      transform: translateY(100%);
      animation: headerAnimation 0.75s ease-in-out 0.5s 1 forwards;
      margin-top: 10rem;
      margin-bottom: 5rem;
      @media (min-width: 60rem) {
        font-size: 3rem;
        margin: 0;
      }
    }
  }
}
