@import "../../assets/styles/vars.scss";

@keyframes headerAnimation {
  0% {
    transform: translateY(100px);
  }
  100% {
    transform: translateY(0%);
  }
}

@keyframes headerSubTextAnimation {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes menuLinkAnimation {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes topAnimation {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0%);
  }
}

header.main {
  padding: 2rem 0;
  transition: all 0.15s ease-in-out;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  @media (min-width: 60rem) and (min-height: 40rem) {
    height: 50vh;
    min-height: 15rem;
  }
  .deco {
    position: fixed;
    top: 10%;
    left: 50%;
    font-size: 65vw;
    line-height: 0.75em;
    font-weight: bold;
    color: #ffffff;
    height: 50vh;
    span:nth-child(1) {
      transform: scaleX(-1);
    }
  }
  .top {
    //background: #fff;
    position: fixed;
    z-index: 100;
    top: 0;
    width: 100%;
    transition: all 0.25s ease-in-out;
    body.open & {
      background: none;
    }
    .container {
      height: 75px;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: space-between;
    }
    .logo {
      text-decoration: none;
      color: #000;
      font-weight: bold;
      font-size: 1.25rem;
      letter-spacing: 0.25em;
      text-transform: uppercase;
      transition: color 0.25s ease-in-out;
      opacity: 0;
      animation: topAnimation 1s ease-in-out 0s 1 forwards;
      body.open & {
        color: #fff;
      }
    }
    .right {
      display: flex;
      .lang {
        margin-right: 2rem;
        opacity: 0;
        animation: topAnimation 1s ease-in-out 0s 1 forwards;
        a {
          text-decoration: none;
          color: #000;
          opacity: 0.5;
        }
      }
    }
    .nav-icon {
      opacity: 0;
      animation: topAnimation 1s ease-in-out 0s 1 forwards;
      width: 30px;
      height: 25px;
      position: relative;
      transition: all 0.4s ease-in-out;
      cursor: pointer;
      span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        background: #000;
        opacity: 1;
        left: 0;
        border-radius: 1px;
        transform: rotate(0deg);
        transition: 0.25s ease-in-out;
        body.open & {
          background: #fff;
        }
        &:nth-child(1) {
          top: 0px;
          body.open & {
            top: 10px;
            transform: rotate(135deg);
          }
        }
        &:nth-child(2) {
          top: 10px;
          body.open & {
            opacity: 0;
            left: -60px;
          }
        }
        &:nth-child(3) {
          top: 20px;
          body.open & {
            top: 10px;
            transform: rotate(-135deg);
          }
        }
      }
    }
  }
  .menu {
    position: fixed;
    visibility: hidden;
    z-index: 99;
    background: $menu-bg;
    color: #fff;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    transition: all 0.25s ease-in-out;
    body.open & {
      opacity: 1;
      visibility: visible;
    }
    a {
      color: #fff;
      text-decoration: none;
      transition: all 0.15s ease-in-out;
      &:hover {
        color: $color-primary;
      }
    }
    .container {
      height: 100vh;
      max-width: 60rem;
      display: flex;
      flex-direction: column;
      @media (min-width: 35rem) {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
      }
      .col {
        .info {
          font-size: 1.2rem;
          opacity: 0;
          margin-top: 4rem;
          @media (min-width: 35rem) {
            margin-top: 0;
          }
          body.open & {
            animation: menuLinkAnimation 1.5s $ease-01 0.6s 1 forwards;
          }
          h4 {
            font-size: 1.25rem;
            margin: 0 0 1rem;
          }
          p {
            margin: 0 0 0.5rem;
          }
          .contact-links {
            a {
              border-bottom: 1px solid $color-primary;
              &:hover {
                color: $color-primary;
              }
            }
          }
          .address {
            margin: 1.5rem 0;
            display: block;
          }
          .sm-links {
            display: flex;
            padding-left: 0;
            li {
              list-style: none;
              &:first-child {
                margin-left: -0.75rem;
              }
              a {
                padding: 0.75rem;
                opacity: 0.5;
                transition: all 0.15s ease-in-out;
                &:hover {
                  opacity: 1;
                }
                svg {
                  fill: #fff;
                }
              }
            }
          }
        }
        nav.main {
          display: flex;
          flex-direction: column;
          margin-top: 8rem;
          @media (min-width: 60rem) {
            margin-top: 0rem;
            margin-bottom: 2rem;
          }
          a {
            font-size: 2rem;
            line-height: 1em;
            font-weight: bold;
            padding: 1rem 0;
            transition: all 0.15s $ease-01;
            @media (min-width: 60rem) {
              font-size: 3rem;
            }
            @media (min-width: 85rem) {
              font-size: 4rem;
            }
            &:nth-child(1) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.15s 1 forwards;
              }
            }
            &:nth-child(2) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.3s 1 forwards;
              }
            }
            &:nth-child(3) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.45s 1 forwards;
              }
            }
            &:nth-child(4) {
              opacity: 0;
              body.open & {
                animation: menuLinkAnimation 1.5s $ease-01 0.6s 1 forwards;
              }
            }
          }
        }
      }
    }
  }
  main {
    flex: 0 0 100%;
    padding-top: 5vh;
    padding-bottom: 5vh;
    @media (min-width: 60rem) {
      padding-bottom: 0;
    }
    .container {
      display: flex;
    }
    .text-box {
      @media (min-width: 60rem) {
        max-width: 35rem;
        transform: translateY(100px);
        animation: headerAnimation 0.75s ease-in-out 0.5s 1 forwards;
      }
      @media (min-width: 85rem) {
        max-width: 40rem;
      }
      h2 {
        font-size: 2rem;
        line-height: 1.2em;
        margin-top: 3rem;
        margin-bottom: 2rem;
        @media (min-width: 60rem) {
          margin-top: 10rem;
          margin-bottom: 5rem;
        }
        span {
          overflow: hidden;
          display: inline-block;
          vertical-align: bottom;
          span {
            transform: translateY(100px);
            animation: headerAnimation 1s ease-in-out 0.25s 1 forwards;
            @media (min-width: 60rem) {
              animation: headerAnimation 1s ease-in-out 1.25s 1 forwards;
            }
          }
        }
        @media (min-width: 60rem) {
          font-size: 2.25rem;
          margin: 0;
        }
        @media (min-width: 85rem) {
          font-size: 3rem;
        }
      }
      .sub {
        opacity: 0;
        animation: headerSubTextAnimation 0.5s ease-in-out 1s 1 forwards;
        @media (min-width: 60rem) {
          animation: headerSubTextAnimation 0.75s ease-in-out 2s 1 forwards;
        }
      }
      p {
        font-size: 1.2rem;
        line-height: 1.6em;
        @media (min-width: 60rem) {
          font-size: 1.3rem;
        }
      }
      .btn {
        font-size: 1.2rem;
        margin-top: 1rem;
        text-decoration: none;
        color: $color-primary;
        display: inline-flex;
        align-items: center;
        transition: all 0.15s ease-in-out;
        transform: translateX(-1.75rem);
        &:hover {
          transform: translateX(-0rem);
          .icon {
            transform: scale(1);
          }
        }
        .icon {
          margin-right: 0.5rem;
          display: flex;
          transform: scale(0);
          transition: all 0.15s ease-in-out;
          img {
            width: 20px;
          }
        }
        .text {
          align-self: center;
        }
      }
    }
  }
}
