@keyframes introAnimation {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(0%);
  }
}

.intro {
  display: flex;
  flex-wrap: wrap;
  transition: all 0.15s ease-in-out;
  @media (min-width: 60rem) {
    height: 50vh;
    min-height: 25rem;
    overflow: hidden;
  }
  .item {
    flex: 0 0 100%;
    position: relative;
    transform: translateY(100%);
    overflow: hidden;
    background: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    @media (min-width: 60rem) {
      flex: 0 0 calc(100% / 3);
      height: 50vh;
    }
    a {
      text-decoration: none;
      color: inherit;
    }
    .details {
      color: #fff;
      font-size: 2rem;
      position: relative;
      z-index: 1;
      margin-top: auto;
      transition: all 0.25s ease-in-out;
      @media (min-width: 60rem) {
        opacity: 0;
      }
      h3 {
        margin: 0;
        font-size: 1.5rem;
        @media (min-width: 35rem) {
          font-size: 2rem;
        }
      }
    }
    &:hover {
      .image {
        transform: scale(1.1);
        opacity: 1;
      }
      .details {
        opacity: 1;
      }
    }
    .image {
      opacity: 0.75;
      transition: all 0.25s ease-in-out;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background-size: cover;
      background-position: center;
    }
    &.fellliebe {
      .image {
        background-image: url(https://images.unsplash.com/photo-1581391422953-4dd3707cf6d2?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80);
      }
      animation: introAnimation 0.75s ease-in-out 0.5s 1 forwards;
    }
    &.limitbikes {
      .image {
        background-image: url(https://www.cube.eu/media_ftp/BIKE_Bilder_2020/317200/details/317200_D6.jpg);
      }
      animation: introAnimation 0.75s ease-in-out 0.75s 1 forwards;
    }
    &.car {
      .image {
        background-image: url(https://images.unsplash.com/photo-1544986342-f4f2e11b7c02?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=634&q=80);
      }
      animation: introAnimation 0.75s ease-in-out 1s 1 forwards;
    }
  }
}
