@keyframes bodyBackgroundFadeIn {
  from {
    background-color: #ffffff;
  }
  to {
    background-color: #f6f6f6;
  }
}

html {
  text-rendering: optimizeLegibility;
}

body {
  font: 100%/1.6em sans-serif;
  background: #f6f6f6;
  animation: bodyBackgroundFadeIn 1.5s ease-in-out 0s 1 forwards;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
}
