body {
  font: 16px/1.6em sans-serif;
  //overflow-y: scroll;
}

* {
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
  padding: 0 2rem;
}

.test {
  max-width: 600px;
  font-size: 3rem;
  p {
    line-height: 1em;
  }
}
